@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color-100: #7384a4;
  --main-color-200: #5d6e8e;
  --main-color-300: #7a879f;
  --main-color-400: #20201e66;
  --main-color-500: #848484;
  --main-color-600: #151d29b2;

  --success-color-100: #81d93c;
  --warning-color-100: #e94242;

  --dark-color-100: #0a0a09;
  --dark-color-200: #5f5f5f;

  --white-color-100: #f1f1f1;
  --white-color-200: #d3d3d3;

  --secondry-color-100: #ecc290;
  --secondry-color-200: #f4ac58;
  --secondry-color-300: #f7931e;
}

body, html {
  background-color: black !important;
  color: white !important;
}